@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&family=Raleway:wght@200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #106567;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
}
.navbar .navbar-toggler {
  color: #f9fbf1;
}
.navbar .btnModal {
  background-color: #106567;
  border: #f9fbf1 solid 1px;
  box-shadow: none;
}
.navbar .btnModal:hover {
  background-color: #14a095;
}

.footer {
  width: 100%;
  background-color: #106567;
  padding-bottom: 5%;
  display: flex;
}

.hfooter {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: #f9fbf1;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 20px;
}

.footerUno {
  width: 33.33%;
  text-align: center;
}
.footerUno .redes {
  color: #f9fbf1;
  font-size: 30px;
  letter-spacing: 10px;
}

.footerDos {
  width: 33.33%;
  text-align: center;
}
.footerDos ul {
  list-style: none;
  padding-top: 20px;
  padding-left: 0;
}
.footerDos a {
  text-decoration: none;
  color: #f9fbf1;
  text-transform: capitalize;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.footerDos p {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: #f9fbf1;
}

.footerTres {
  width: 33.33%;
  text-align: center;
  color: #f9fbf1;
}
.footerTres ::placeholder {
  color: #f9fbf1;
  font-family: "Quicksand", sans-serif;
  padding-left: 5%;
}
.footerTres #suscripcion {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #f9fbf1;
}
.footerTres .send {
  background-color: transparent;
  color: #f9fbf1;
  border: none;
  padding-left: 5px;
}
.footerTres .send:hover {
  color: #14a095;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#exampleModalLabel {
  font-family: "Quicksand", sans-serif;
  color: #106567;
}

.btnmodal {
  font-family: "Quicksand", sans-serif;
  background-color: #106567;
  border: none;
}

.btnmodal:hover {
  background-color: #14a095;
}

.home {
  height: auto;
  width: 100%;
  background-color: #fbdea7;
}
.home .slogan {
  font-family: "Quicksand", sans-serif;
  color: #106567;
  text-align: center;
  margin-bottom: 0;
}

.homeProductos {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5%;
  padding-bottom: 5%;
}
.homeProductos .circulos {
  height: 200px;
  width: 220px;
  background-color: #f7b333;
  border-radius: 80% 70% 60% 60%/80% 70% 60% 60%;
}
.homeProductos .circ-azul {
  background-image: url(./img/ballena.png);
  background-position: center;
  background-repeat: no-repeat;
  animation-duration: 2s;
  animation-iteration-count: 2;
}
.homeProductos .circ-rojo {
  background-image: url(./img/taruca.png);
  background-position: center;
  background-repeat: no-repeat;
  animation-duration: 2s;
  animation-iteration-count: 2;
}
.homeProductos .circ-verde {
  background-image: url(./img/yurumi.png);
  background-position: center;
  background-repeat: no-repeat;
  animation-duration: 2s;
  animation-iteration-count: 2;
}
.homeProductos .circ-naranja {
  background-image: url(./img/aguara.png);
  background-position: center;
  background-repeat: no-repeat;
  animation-duration: 2s;
  animation-iteration-count: 2;
}
.homeProductos .circ-azul {
  border: #106567 solid 2px;
  background-size: 180px 180px;
  animation-name: rebotar1;
}
@keyframes rebotar1 {
  20% {
    transform: translateY(-60px);
    box-shadow: 0px 1px 1px 1px #106567;
  }
  21% {
    box-shadow: 0px 1px 1px 1px #106567;
  }
  30% {
    transform: translateY(-60px);
    box-shadow: 0px 1px 1px 1px #106567;
  }
  31% {
    box-shadow: 0px 1px 1px 1px #106567;
  }
}
.homeProductos .circ-rojo {
  border: #e75217 solid 2px;
  background-size: 230px 230px;
  animation-name: rebotar2;
}
@keyframes rebotar2 {
  10% {
    transform: translateY(-50px);
    box-shadow: 0px 1px 1px 1px #e75217;
  }
  11% {
    box-shadow: 0px 1px 1px 1px #e75217;
  }
  20% {
    transform: translateY(-50px);
    box-shadow: 0px 1px 1px 1px #e75217;
  }
  21% {
    box-shadow: 0px 1px 1px 1px #e75217;
  }
}
.homeProductos .circ-verde {
  border: #0d8a2e solid 2px;
  background-size: 180px 180px;
  animation-name: rebotar3;
}
@keyframes rebotar3 {
  20% {
    transform: translateY(-50px);
    box-shadow: 0px 1px 1px 1px #0d8a2e;
  }
  21% {
    box-shadow: 0px 1px 1px 1px #0d8a2e;
  }
  30% {
    transform: translateY(-50px);
    box-shadow: 0px 1px 1px 1px #0d8a2e;
  }
  31% {
    box-shadow: 0px 1px 1px 1px #0d8a2e;
  }
}
.homeProductos .circ-naranja {
  border: #e75217 solid 3px;
  background-size: 200px 200px;
  animation-name: rebotar4;
}
@keyframes rebotar4 {
  10% {
    transform: translateY(-60px);
    box-shadow: 0px 1px 1px 1px #e75217;
  }
  11% {
    box-shadow: 0px 1px 1px 1px #e75217;
  }
  20% {
    transform: translateY(-60px);
    box-shadow: 0px 1px 1px 1px #e75217;
  }
  21% {
    box-shadow: 0px 1px 1px 1px #e75217;
  }
}

.circuloSecciones {
  height: 350px;
  width: 350px;
  border-radius: 350px;
  margin: 10% auto 10% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.hmImagen {
  width: 50%;
}

.hmTexto {
  width: 50%;
}

.homeTitulos {
  font-family: "Quicksand", sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: bold;
  color: #f9fbf1;
  margin-top: 15%;
  margin-left: 20%;
}

.descripcion {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: #f9fbf1;
  margin-left: 20%;
}

.btnDescripcion {
  height: 40px;
  width: 130px;
  background-color: #f9fbf1;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 15px;
  border: 2px solid;
  margin-left: 20%;
}

.homeMobiliario {
  background-color: #14a095;
  display: flex;
}
.homeMobiliario .btnDescripcion {
  border-color: #81efe6;
  color: #14a095;
}
.homeMobiliario .btnDescripcion:hover {
  background-color: #14a095;
  color: #f9fbf1;
}

.circuloSecciones {
  background-color: #81efe6;
  background-image: url(./img/ballena.png);
  background-size: 300px 300px;
}

.homeJuegos {
  background-color: #e75217;
  display: flex;
}
.homeJuegos .circuloSecciones {
  background-color: #f5b59c;
  background-image: url(./img/juego-completo.png);
  background-size: 300px 300px;
}
.homeJuegos .homeTitulos {
  margin-left: 10%;
}
.homeJuegos .descripcion {
  margin-left: 10%;
  margin-right: 20%;
}
.homeJuegos .btnDescripcion {
  margin-left: 10%;
  border-color: #f5b59c;
  color: #e75217;
}
.homeJuegos .btnDescripcion:hover {
  color: #f9fbf1;
  background-color: transparent;
}

.homeManifiesto {
  height: auto;
  width: 100%;
  background-color: #106567;
  padding-top: 6%;
  padding-bottom: 6%;
}
.homeManifiesto .manifiesto {
  height: auto;
  width: 80%;
  background-color: #f9fbf1;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #14a095;
}
.homeManifiesto .logoManifiesto {
  padding-top: 5%;
  width: 150px;
}
.homeManifiesto .tituloManifiesto {
  font-family: "Quicksand", sans-serif;
  font-size: 35px;
  color: #106567;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
}
.homeManifiesto .subtituloManifiesto {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #106567;
  margin-left: 20%;
  margin-right: 20%;
}
.homeManifiesto .textoMobiliario {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #106567;
  margin: 10px 20% 5px 20%;
}
.homeManifiesto .btnManifiesto {
  margin-top: 20px;
  margin-left: 50%;
  transform: translate(-50%);
  color: #106567;
  margin-bottom: 5%;
}
.homeManifiesto .btnManifiesto:hover {
  background-color: #14a095;
  color: #f9fbf1;
  border-color: #106567;
}

.logoPages {
  width: 20%;
  padding-top: 5%;
  padding-bottom: 2%;
  display: block;
  margin-left: 40%;
  margin-right: 40%;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 60%;
  margin-left: 20%;
  margin-top: 3%;
  padding-bottom: 5%;
  padding-top: 3%;
}
.loader div {
  height: 80px;
  width: 20%;
  margin-right: 2%;
  background-color: #e75217;
  text-transform: #f9fbf1;
  text-align: center;
  color: #f9fbf1;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  animation: 2s infinite jumpy;
}
.loader div:nth-child(even) {
  animation-delay: 1s;
}
@keyframes jumpy {
  50% {
    height: 60px;
    background: #f7b333;
  }
}

.pageDescripcion {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  color: #f9fbf1;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 0;
  padding-bottom: 5%;
  text-align: center;
}

.productos {
  background-color: #14a095;
  padding-bottom: 5%;
}

.card {
  border: 5px double #106567;
  margin-left: 5%;
  margin-bottom: 5%;
}

.card-title {
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  color: #106567;
  font-weight: bold;
}

.card-text {
  font-family: "Quicksand", sans-serif;
  color: #106567;
}

.btnPages {
  background-color: #106567;
  color: #f9fbf1;
  border: none;
}

.btnPages:hover {
  background-color: #106567;
  color: #f9fbf1;
  border: none;
}

.pageMobiliario {
  height: auto;
  width: 100%;
  background-color: #14a095;
}

.pageJuegos {
  height: auto;
  width: 100%;
  background-color: #14a095;
}

.contacto {
  background-color: #fbdea7;
}

.pageContacto {
  background-color: #fbdea7;
  padding-top: 5%;
  padding-bottom: 10%;
  display: flex;
}
.pageContacto .datosContacto {
  width: 50%;
}
.pageContacto .textoContacto {
  font-family: "Quicksand", sans-serif;
  color: #106567;
  padding-left: 20%;
}
.pageContacto iframe {
  padding-bottom: 3%;
  width: 80%;
}
.pageContacto .formularioContacto {
  width: 50%;
}
.pageContacto ::placeholder {
  color: #106567;
  font-family: "Quicksand", sans-serif;
  padding-left: 5px;
}
.pageContacto .estiloform {
  border: 1px solid #106567;
  border-radius: 5px;
  width: 80%;
  margin-top: 10px;
}
.pageContacto #mensaje {
  height: 150px;
}
.pageContacto #btnformulario {
  color: #106567;
  background-color: #f9fbf1;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}
.pageContacto #btnformulario:hover {
  background-color: #fbdea7;
}

.nosotros {
  background-color: #fbdea7;
}

.pageNosotros {
  background-color: #fbdea7;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
}
.pageNosotros .nosotrosImagen {
  height: 500px;
  width: 500px;
  border-radius: 10px;
  border: 1px solid #81efe6;
  animation-name: pulso;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes pulso {
  from {
    box-shadow: 0 0 1px #106567;
  }
  50% {
    box-shadow: 0 0 18px #81efe6;
  }
  to {
    box-shadow: 0 0 9px #14a095;
  }
}
.pageNosotros .nosotrosTexto {
  font-family: "Quicksand", sans-serif;
  text-align: justify;
  color: #106567;
  padding-top: 5%;
  width: 50%;
  margin-left: 25%;
  text-shadow: 3px 3px 3px #f9fbf1;
}
.pageNosotros .nosotrosKimkelen {
  width: 100%;
  margin-top: 5%;
}
.pageNosotros .nosotrosKimkelen .nosotrosImagen {
  margin-left: auto;
  margin-right: auto;
  background-image: url(./img/nosotros-kimkelen.png);
  background-position: center;
  background-size: cover;
}
.pageNosotros .nosotrosMelina {
  width: 100%;
}
.pageNosotros .nosotrosMelina .nosotrosImagen {
  margin-left: auto;
  margin-right: auto;
  background-image: url(./img/nosotros-melina.png);
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
  .footer .footerUno {
    width: 100%;
  }
  .footer .footerDos {
    width: 100%;
  }
  .footer .footerTres {
    width: 100%;
    padding-bottom: 30px;
  }
  .homeProductos {
    flex-wrap: wrap;
  }
  .homeProductos .circulos {
    margin-top: 20px;
  }
  .logoHome {
    width: 80%;
    height: 80%;
  }
  .loader div {
    height: 40px;
    font-size: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1023px) {
  .homeProductos {
    padding-top: 10%;
  }
  .homeProductos .circulos {
    height: 130px;
    width: 150px;
  }
  .homeProductos .circ-azul {
    background-size: 120px 120px;
  }
  .homeProductos .circ-rojo {
    background-size: 150px 150px;
  }
  .homeProductos .circ-verde {
    background-size: 115px 115px;
  }
  .homeProductos .circ-naranja {
    background-size: 125px 125px;
  }
  .homeTitulos {
    margin: 0;
    text-align: center;
  }
  .descripcion {
    margin: 0 15% 0 15%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .btnDescripcion {
    margin-bottom: 10%;
    margin-left: 50%;
    transform: translate(-50%);
  }
  .homeJuegos .homeTitulos {
    margin: 0;
    text-align: center;
  }
  .homeJuegos .descripcion {
    margin: 0 15% 0 15%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .homeJuegos .btnDescripcion {
    margin-bottom: 10%;
    margin-left: 50%;
    transform: translate(-50%);
  }
  .hmTexto {
    width: 100%;
  }
  .hmImagen {
    width: 100%;
  }
  .homeMobiliario {
    flex-direction: column-reverse;
  }
  .homeJuegos {
    flex-direction: column;
  }
  .pageNosotros .nosotrosMelina .nosotrosImagen {
    margin-left: 50%;
    transform: translate(-50%);
  }
  .pageNosotros .nosotrosMelina .nosotrosTexto {
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
  }
  .pageNosotros .nosotrosKimkelen .nosotrosImagen {
    margin-left: 50%;
    transform: translate(-50%);
  }
  .pageNosotros .nosotrosKimkelen .nosotrosTexto {
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
  }
  .pageNosotros .nosotrosImagen {
    height: 200px;
    width: 200px;
    border-radius: 10px;
  }
  .pageNosotros .nosotrosTexto {
    margin: 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .circuloSecciones {
    height: 260px;
    width: 260px;
    border-radius: 260px;
  }
  .homeTitulos {
    font-size: 40px;
  }
  .descripcion {
    font-size: 16px;
  }
  .homeMobiliario .hmImagen .circuloSecciones {
    background-size: 210px 210px;
  }
  .homeJuegos .circuloSecciones {
    background-size: 230px 230px;
  }
  .pageContacto {
    flex-direction: column-reverse;
  }
  .pageContacto .datosContacto {
    width: 100%;
  }
  .pageContacto .datosContacto .textoContacto {
    text-align: center;
    padding-left: 0;
  }
  .pageContacto .formularioContacto {
    width: 100%;
    margin-bottom: 10%;
  }
  .estiloform {
    width: 80%;
    margin-left: 10%;
  }
  iframe {
    padding-bottom: 3%;
    width: 80%;
  }
  #iframeMapa {
    margin-left: 50%;
    transform: translate(-50%);
  }
}

/*# sourceMappingURL=style.css.map */
